
@{
    ViewBag.Title = "Footer";
}

<footer class="">
    <div class="container">
                &nbsp;&nbsp;WebTMS v2016<br />
                &nbsp;&nbsp;<span class="fa fa-copyright" aria-hidden="true"></span> Cebu Innosoft Solutions, Inc. 2016<br />
                &nbsp;&nbsp;<span class="fa fa-phone" aria-hidden="true"></span> (32) 2663 773
    </div>
</footer>

